body{background-color:#f1f1f2 !important;}
.navbar-new-top{
    background: #fff;
}
.navbar-brand{
    font-weight: 600;
}
.navbar-brand img{
    width: 20%;
}
.navbar-new-top ul{
    margin-right: 9%;
}
.navbar-new-top ul li{
    margin-right: 8%;
}
.navbar-new-bottom{
    background-color: #f7f7f7;
    box-shadow: 0 5px 6px -2px rgba(0,0,0,.3);
    border-top: 1px solid #e0e0e0;
    margin-top: 4%;
    height: 40px;
}
.navbar-new-bottom ul li{
    margin-left: 2%;
    margin-right: 2%;
}
.navbar-nav .nav-item a {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    transition: 1s ease;
}
.navbar-nav .nav-item a:hover{
    color: #0062cc;
}
.dropdown-menu.show{
    background: #f8f9fa;
    border-radius: 0;
}
.header-btn{
    width: 161%;
    border: none;
    border-radius: 1rem;
    padding: 8%;
    background: #0062cc;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
}

.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}

/******************  News Slider Demo-1 *******************/

.post-slide{
    overflow: hidden;
    margin-right: 15px;
    background-color:#fff !important;
}
.post-slide .post-img {
    float: left;
    width:50%;
    position: relative;
    margin-right: 30px;
}
.post-slide .post-img img{
    width: 100%;
    height: auto;
}
.post-slide .post-date{
    background: #ec3c6a;
    color:#fff;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 2% 3%;
    width: 60px;
    height: 60px;
    text-align: center;
    transition:all 0.50s ease;
}
.post-slide .date{
    display: block;
    font-size:20px;
    font-weight: 700;
}
.post-slide .month{
    display: block;
    font-size:11px;
    text-transform: uppercase;
}
.post-slide .post-review {
    padding: 5% 3% 1% 0;
    border-top: 3px solid #38cfd8;
}
.post-slide:hover .post-review{
    border-top-color:#ec3c6a;
}
.post-slide .post-title{
    margin:0 0 10px 0;
}
.post-slide .post-title a{
    font-size:14px;
    color:#333;
    text-transform:uppercase;
}
.post-slide .post-title a:hover{
    text-decoration:none;
    font-weight: bold;
}
.post-slide .post-bar{
    padding:0;
    list-style:none;
    text-transform:uppercase;
    position: relative;
    margin-bottom: 20px;
}
.post-slide .post-bar:after,
.post-slide .post-bar:before{
    border: 1px solid #38cfd8;
    bottom: -10px;
    content: "";
    display: block;
    position: absolute;
    right: 36%;
    width: 25px;
}
.post-slide .post-bar:before{
    border: 1px solid #ec3c6a;
    right: 32%;
}
.post-slide .post-bar li{
    color:#555;
    font-size:10px;
    margin-right:10px;
    display:inline-block;
}
.post-slide .post-bar li a{
    font-size: 13px;
    text-decoration:none;
    text-transform:uppercase;
    color:#ec3c6a;
}
.post-slide .post-bar li a:hover{
    color:#ec3c6a;
}
.post-slide .post-bar li i{
    color:#777;
    margin-right:5px;
}
.post-slide .post-description{
    font-size:12px;
    line-height:21px;
    color:#444454;
}
.owl-theme .owl-controls{
    margin-top: 30px;
}
.owl-theme .owl-controls .owl-page span{
    background: #fff;
    border: 2px solid #37a6a4;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #37a6a4;
}
@media only screen and (max-width: 990px) {
    .post-slide .post-img {
        width:100%;
    }
    .post-slide .post-review{
        width:100%;
        border-bottom: 4px solid #ec3c6a;
    }
    .post-slide .post-bar:before{
        left: 0;
    }
    .post-slide .post-bar:after{
        left: 25px;
    }
}

/******************  News Slider Demo-4 *******************/
.post-slide4{
    margin: 0 10px;
    background:#fff;
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
    margin-bottom:2em;
}
.post-slide4 .post-info{
    padding: 5px 10px;
    margin: 0;
    list-style: none;
}
.post-slide4 .post-info li{
    display: inline-block;
    margin: 0 5px;
}
.post-slide4 .post-info li i{
    margin-right: 8px;
}
.post-slide4 .post-info li a{
    font-size: 11px;
    font-weight: bold;
    color: #7e828a;
    text-transform: uppercase;
}
.post-slide4 .post-info li a:hover{
    color: #1dcfd1;
    text-decoration: none;
}
.post-slide4 .post-img{
    position: relative;
}
.post-slide4 .post-img:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba(0, 0,0,0.6);
    transition: opacity 0.40s linear 0s;
}
.post-slide4:hover .post-img:before{
    opacity: 1;
}
.post-slide4 .post-img img{
    width: 100%;
    height: auto;
}
.post-slide4 .read{
    position: absolute;
    bottom: 30px;
    left: 50px;
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    opacity: 0;
    transition: all 0.40s linear 0s;
}
.post-slide4:hover .read{
    opacity:1;
}
.post-slide4 .read:hover{
    text-decoration: none;
    color: #1dcfd1;
}
.post-slide4 .post-content{
    padding: 40px 15px;
    position: relative;
}
.post-slide4 .post-author{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    top: -45px;
    right: 10px;
    overflow: hidden;
    border:4px solid #fff;
}
.post-slide4 .post-author img{
    width: 100%;
    height: auto;
}
.post-slide4 .post-title{
    font-size: 14px;
    font-weight: bold;
    color: #1dcfd1;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    transition: all 0.30s linear 0s;
}
.post-slide4 .post-title:after{
    content: "";
    width: 25px;
    display: block;
    margin-top: 10px;
    border-bottom: 4px solid #333;
}
.post-slide4 .post-description{
    font-size: 13px;
    color: #555;
    margin-bottom:20px;
}

/******************  News Slider Demo-10 *******************/
.post-slide10{
    padding-bottom: 10px;
    margin: 0 15px;
    position:relative;
    background:#fff !important;
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
    margin-bottom:2em;
}
.post-slide10 img{
    width: 100%;
    height: auto;
}
.post-slide10 .post-date{
    position:absolute;
    top:2%;
    left:8%;
    padding: 3% 5%;
    background: #e74c3c;
}
.post-slide10 .month{
    font-size: 14px;
    color:#fff;
    font-weight: bold;
    text-transform:uppercase;
}
.post-slide10 .month:after{
    content:"";
    display: block;
    border:1px solid #fff;
}
.post-slide10 .date{
    font-size: 14px;
    color:#fff;
    display: block;
    text-align:center;
    font-weight: bold;
}
.post-slide10 .post-title{
    margin:25px 0 15px 0;
}
.post-slide10 .post-title a{
    font-size:15px;
    font-weight:bold;
    color:#333;
    padding:0px 15px;
    display: inline-block;
    text-transform:uppercase;
    transition: all 0.3s ease 0s;
}
.post-slide10 .post-title a:hover{
    text-decoration: none;
    color:#e74c3c;
}
.post-slide10 .post-description{
    font-size: 14px;
    line-height:24px;
    color:#808080;
    padding:0px 15px;
}
.post-slide10 .read-more{
    color:#333;
    padding:0px 15px;
    text-transform:capitalize;
    transition: color 0.20s linear;
}
.post-slide10 .read-more i{
    margin-left:10px;
    font-size:10px;
}
.post-slide10 .read-more:hover{
    text-decoration:none;
    color:#e74c3c;
}
.owl-controls .owl-buttons{
    margin-top:20px;
    position:relative;
}
.owl-controls .owl-prev{
    position: absolute;
    left: -40px;
    bottom: 230px;
    padding: 8px 17px;
    background:#333;
    transition:background 0.50s ease;
}
.owl-controls .owl-next{
    position: absolute;
    right: -40px;
    bottom: 230px;
    padding:8px 17px;
    background:#333;
    transition:background 0.50s ease;
}
.owl-controls .owl-prev:after,
.owl-controls .owl-next:after{
    content:"\f104";
    font-family: FontAwesome;
    color: #d3d3d3;
    font-size:16px;
}
.owl-controls .owl-next:after{
    content:"\f105";
}
.owl-controls .owl-prev:hover,
.owl-controls .owl-next:hover{
    background: #e74c3c;
}
@media only screen and (max-width: 990px) {
    .post-slide10{
        margin: 0 20px;
    }
    .owl-controls .owl-buttons .owl-prev{
        left:-20px;
        padding:5px 14px;
    }
    .owl-controls .owl-buttons .owl-next{
        right:-20px;
        padding:5px 14px;
    }
}
@media only screen and (max-width: 767px){
    .owl-controls .owl-buttons .owl-prev{
        left:0px;
        bottom: 260px;
    }
    .owl-controls .owl-buttons .owl-next{
        right:0px;
        bottom: 260px;
    }
}

/* CALENDAR */
