/*Global Village*/
:root {
    --primary: rgba(95,173,64,1);
    --primary-2: rgba(72,144,44,1);
    --video: rgba(64,81,173,1);
    --product: rgba(64,166,173,1);
    --gray: rgba(243,253,244,1);
    --cta: rgba(237,125,59,1);
    --cta-2: rgba(219,114,53,1);
    --shadow: 0 10px 30px rgba(0,0,0,.1);
    --shadow-cta: 0 4px 10px rgba(237,125,59,.3);
    --shadow-primary: 0 8px 25px rgba(95,173,64,.4);
}

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap');

body {
    font-size: 14px;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

select.form-control {
    height: 42px;
}

body.bg-gray {
    background-color: #EEF4EB !important;
}
.footer.bordered {
    border-top: 1px solid #eee;
    background-color: transparent !important;
}

.no-lh {
    line-height: 1 !important;
}

.img-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.alert {
    border-color: transparent;
    border-left: 3px solid transparent;
}

.alert-info {
    color: #32b9c1;
    border-left-color: #5fd7de;
    background-color: #ebfafb;
}

.alert-danger {
    color: #d44040;
    border-left-color: #ef6c6c;
    background-color: #fdeded;
}

.alert-warning {
    color: #dd7a15;
    border-left-color: #f79f45;
    background-color: #fef3e8;
}

.alert-primary {
    color: #569c3a;
    border-left-color: #7fbd66;
    background-color: #eff7ec;
}

.alert-success {
    color: #67c044;
    border-left-color: #8edd6f;
    background-color: #f1fbed;
}

.p-45 {
    padding: 35px;
}

.text-16 {
    font-size: 16px;
}

.row.gutter-sm {
    margin-left: -5px;
    margin-right: -5px;
}
.row.gutter-sm > [class^="col"] {
    padding-left: 5px;
    padding-right: 5px;
}
.row.gutter-lg {
    margin-left: -40px;
    margin-right: -40px;
}
.row.gutter-lg > [class^="col"] {
    padding-left: 40px;
    padding-right: 40px;
}
.row.gutter-md {
    margin-left: -25px;
    margin-right: -25px;
}
.row.gutter-md > [class^="col"] {
    padding-left: 25px;
    padding-right: 25px;
}

.fill-current {
    fill: currentColor;
}

.stroke-current {
    stroke: currentColor;
}

.plyr {
    border-radius: 5px;
    box-shadow: var(--shadow);
    height: 400px;
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--primary);
}

.text-sm {
    font-size: 12px;
}

.tracking {
    letter-spacing: .5px;
}

.text-gray {
    color: rgba(153,153,153,1) !important;
}

.flex-column {
    flex-flow: column;
}

.no-shrink {
    flex-shrink: 0;
}

.border-transparent {
    border-color: transparent;
}

.text-opacity {
    opacity: .6;
}

.text-primary {
    color: var(--primary) !important;
}

.bg-cta {
    background-color: var(--cta) !important;
}
.bg-gray {
    background-color: var(--gray) !important;
}
.bg-primary {
    background-color: var(--primary) !important;
}

.bg-video {
    background-color: var(--video) !important;
}

.bg-product {
    background-color: var(--product) !important;
}

.bg-image {
    background-position: center;
    background-size: cover;
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
}

.btn-link {
    color: #999;
}

.btn-progress {
  position: relative;
  background-image: url("data:image/svg+xml,%0A%3Csvg version='1.1' id='loader-1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='40px' height='40px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Cpath fill='%23fff' d='M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  color: transparent !important;
  pointer-events: none; }

.form-group {
    margin-bottom: 30px;
}

.form-control[type="number"] {
    height: 38px;
    padding: 10px;
}

.form-control {
    line-height: 40px;
    font-size: 14px;
}

.form-control:focus {
    border-color: var(--primary);
}

.form-control:not(textarea) {
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-control-bg {
    padding-left: 40px;
    background-position: 10px;
    background-size: 20px;
    background-repeat: no-repeat;
}

.need-overlay:after,
.card-featured:after,
.need-overlay-gradient:after,
.carousel-slide:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.0), rgba(0,0,0,.55));
    content: ' ';
}

.need-overlay:after {
    background-color: rgba(0,0,0,1);
    background-image: none;
    opacity: .4;
}

.need-overlay-layer {
    position: relative;
    z-index: 2;
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    height: 750px;
}
.hero::after {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 990px;
    background-image: url("data:image/svg+xml,%3Csvg width='1152' height='892' viewBox='0 0 1152 892' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H1152V622.58C1152 671.716 1116.3 713.571 1067.78 721.327L0 892V0Z' fill='%235FAD40'/%3E%3Crect x='32.7098' y='-139.961' width='793.538' height='534.13' rx='10' transform='rotate(28.2088 32.7098 -139.961)' fill='url(%23paint0_linear)'/%3E%3Crect x='32.7098' y='-84.8974' width='793.538' height='534.13' rx='10' transform='rotate(28.2088 32.7098 -84.8974)' fill='url(%23paint1_linear)'/%3E%3Crect x='964.051' y='143.461' width='303.474' height='83.9674' rx='10' transform='rotate(28.2088 964.051 143.461)' fill='%236ABA4A'/%3E%3Crect x='-1.94183' y='-35.8004' width='611.491' height='419.345' rx='10' transform='rotate(28.2088 -1.94183 -35.8004)' fill='url(%23paint2_linear)'/%3E%3Crect x='1026.96' y='252.521' width='214.062' height='77.6652' rx='10' transform='rotate(28.2088 1026.96 252.521)' fill='%236EC84A'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='714.804' y1='219.246' x2='160.547' y2='-203.182' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2356A536' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%235AA93B'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='693.058' y1='195.688' x2='97.0135' y2='-117.308' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2389CF6E' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%235AA93B'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear' x1='50.7516' y1='168.338' x2='559.389' y2='213.246' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2364B943'/%3E%3Cstop offset='1' stop-color='%2364B943' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-position: center;
    background-size: 100%;
    content: ' ';
}

.hero-text {
    color: rgba(255,255,255,1);
}

.hero-text .title {
    font-weight: 600;
    font-size: 36px;
    line-height: 51px;
}

.hero-text .lead {
    color: rgba(255,255,255,.8);
    font-weight: 200;
    line-height: 36px;
}

.text-badge {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    color: rgba(255,225,66,1);
}

.hero-cta {
    border-radius: 30px;
}

.hero h1 {
    font-size: 34px;
    font-weight: 800;
    line-height: 42px;
}

.hero .lead {
    margin-top: 20px;
    line-height: 34px;
    font-weight: 200;
}

.hero .video-cover {
    position: relative;
    z-index: 3;
    display: inline-block;
    width: 378px;
    height: 238px;
}

.hero .video-cover .video-cover-img {
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 100%;
    box-shadow: 0 20px 60px rgba(27,62,14,.4);
    border-radius: 10px;
    cursor: pointer;
    transition: all 4s;
}

.hero .video-cover .video-cover-img:hover {
    background-size: 120%;
}

.hero .video-cover .video-cover-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 58px;
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='50' viewBox='0 0 45 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M42.5 20.6699C45.8333 22.5944 45.8333 27.4056 42.5 29.3301L7.99999 49.2487C4.66666 51.1732 0.499998 48.7676 0.499998 44.9186L0.499999 5.08141C0.5 1.2324 4.66667 -1.17321 8 0.751287L42.5 20.6699Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.hero .video-cover::after {
    content: ' ';
    position: absolute;
    top: -20px;
    left: -20px;
    background-color: #B3FF85;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 20px 60px rgba(0,0,0,.15);
}
.hero .video-cover::before {
    content: ' ';
    position: absolute;
    bottom: -50px;
    left: -50px;
    z-index: -1;
    width: 115px;
    height: 115px;
    background-size: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='116' height='116' viewBox='0 0 116 116' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4.2963' cy='4.2963' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='25.7778' cy='4.2963' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='47.2592' cy='4.2963' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='68.7408' cy='4.2963' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='90.2222' cy='4.2963' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='111.704' cy='4.2963' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='4.2963' cy='25.7778' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='25.7778' cy='25.7778' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='47.2592' cy='25.7778' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='68.7408' cy='25.7778' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='90.2222' cy='25.7778' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='111.704' cy='25.7778' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='4.2963' cy='47.2593' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='25.7778' cy='47.2593' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='47.2592' cy='47.2593' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='68.7408' cy='47.2593' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='90.2222' cy='47.2593' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='111.704' cy='47.2593' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='4.2963' cy='68.7407' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='25.7778' cy='68.7407' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='47.2592' cy='68.7407' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='68.7408' cy='68.7407' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='90.2222' cy='68.7407' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='111.704' cy='68.7407' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='4.2963' cy='68.7407' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='25.7778' cy='68.7407' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='47.2592' cy='68.7407' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='68.7408' cy='68.7407' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='90.2222' cy='68.7407' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='111.704' cy='68.7407' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='4.2963' cy='90.2222' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='25.7778' cy='90.2222' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='47.2592' cy='90.2222' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='68.7408' cy='90.2222' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='90.2222' cy='90.2222' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='111.704' cy='90.2222' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='4.2963' cy='90.2222' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='25.7778' cy='90.2222' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='47.2592' cy='90.2222' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='68.7408' cy='90.2222' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='90.2222' cy='90.2222' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='111.704' cy='90.2222' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='4.2963' cy='111.704' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='25.7778' cy='111.704' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='47.2592' cy='111.704' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='68.7408' cy='111.704' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='90.2222' cy='111.704' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='111.704' cy='111.704' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='4.2963' cy='111.704' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='25.7778' cy='111.704' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='47.2592' cy='111.704' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='68.7408' cy='111.704' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='90.2222' cy='111.704' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='111.704' cy='111.704' r='4.2963' fill='white' fill-opacity='0.15'/%3E%3C/svg%3E%0A");
}

.navbar-absolute {
    position: absolute;
    width: 100%;
}

.topbar {
    font-size: 12px;
    background-color: rgba(251,251,251,1);
    padding: 5px 1rem;
}

.topbar .nav-link {
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar-bg-primary {
    background-color: var(--primary);
}

.navbar-bg-primary .btn-primary {
    background-color: #fff;
    color: var(--primary);
}

.navbar-bg-primary .nav-link {
    color: #fff;
}

.main-navbar {
    height: 100px;
    border-top: 2px solid var(--primary);
    z-index: 10;
}
.main-navbar .dropdown-hover .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
}
.main-navbar .dropdown-hover:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    top: 60px;
    margin: 0;
}
.main-navbar .dropdown-menu {
    width: 200px;
}
.main-navbar .dropdown-menu .dropdown-header,
.main-navbar .dropdown-menu .dropdown-item {
    padding: 10px 30px;
}
.main-navbar .dropdown-menu .dropdown-header {
    padding-bottom: 5px;
    color: #999 !important;
}

.main-navbar .btn-cta {
    background-color: #fff;
    color: var(--primary) !important;
    box-shadow: 0 20px 60px rgba(0,0,0,.15);
}
.main-navbar .btn-cta:hover {
    background-color: #fff;
    box-shadow: none;
}

.main-navbar .navbar-brand {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.main-navbar .nav-link {
    margin: 0 20px;
    height: auto;
    color: rgba(255,255,255,.8);
    border-bottom: 2px solid transparent;
    transition: all .5s;
}

.main-navbar .nav-item.active .nav-link,
.main-navbar .nav-item .nav-link:hover {
    color: #fff;
}

.main-navbar .nav-item.active .nav-link {
    font-weight: 600;
    border-bottom-color: #fff;    
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-expand-lg .navbar-nav .nav-item .btn {
    margin-left: 25px;
    color: rgba(255,255,255,1);
}

.navbar-secondary {
    height: 60px;
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.2);
    z-index: 9;
}
.navbar-secondary .navbar-nav {
    display: flex;
    align-items: center;
    margin-left: -20px;
    margin: -20px;
}
.navbar-secondary .nav-link {
    display: inline-flex;
}

.navbar-secondary .nav-link svg {
    margin-right: 10px;
}

.nav-item-divider,
.navbar-divider {
    margin: 0 30px;
    height: 30px;
    width: 1px;
    background-color: rgba(238,238,238,.3);
}

.search-form {
    width: 350px;
}

.search-form .input-group {
    width: 100%;
}

.search-form .btn-cta {
    color: #fff !important;
    background-color: var(--cta);
}
.search-form .form-control {
    padding-left: 50px;
    padding-right: 25px;
    height: 45px;
    border-radius: 3px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ccc' viewBox='0 0 24 24'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='search'%3E%3Crect width='24' height='24' opacity='0'/%3E%3Cpath d='M20.71 19.29l-3.4-3.39A7.92 7.92 0 0 0 19 11a8 8 0 1 0-8 8 7.92 7.92 0 0 0 4.9-1.69l3.39 3.4a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 11a6 6 0 1 1 6 6 6 6 0 0 1-6-6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 25px;
    background-position: 13px center;
    background-repeat: no-repeat;
    background-color: #fff;
    border-color: rgba(238,238,238,1);
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
}

.search-form .form-control:focus {
    box-shadow: none;
}

.btn .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    padding: 5px;
    font-size: 14px;
    border-radius: 50%;
}

.btn {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.btn:not(.btn-normal) {
    padding: 10px 35px;
}

.btn.btn-sm {
    padding: 5px 15px;
    font-size: 12px;
}

.btn-outline-secondary {
    border-color: rgba(221,221,221,1);
}

.btn-icon {
    display: inline-flex;
    align-items: center;
}

.btn-the-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: currentColor;
}

.btn-outline-primary {
    border-color: var(--primary);
    color: var(--primary);
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:not(.disabled):not(.disabled):active:focus,
.btn-outline-primary:not(.disabled):not(.disabled):active,
.btn-primary,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:focus:hover,
.btn-primary:hover {
    color: rgba(255,255,255,1);
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-light {
    border-color: #fff;
    color: #fff;
}
.btn-outline-light:hover {
    background-color: #fff;
    color: var(--primary);
}

.btn-primary:hover {
    box-shadow: none;
    background-color: var(--primary-2)
}

.btn-primary-shadow {
    box-shadow: var(--shadow-primary);
}

.btn-fat {
    padding: 13px 33px;
}

.btn-round {
    border-radius: 30px;
}

.btn-fat.btn-round {
    padding-left: 25px;
    padding-right: 25px;
}

.btn-link-cta,
.btn-outline-cta {
    border-color: var(--cta);
    border-width: 1px;
    color: var(--cta);
}
.btn-outline-cta:hover {
    background-color: var(--cta);
    color: rgba(255,255,255,1);
}

.btn-link-cta {
    border-color: transparent;
}
.btn-link-cta:hover {
    color: #fff;
    background-color: var(--cta);
}

.btn-cta,
.btn-cta:hover {
    color: rgba(255,255,255,1); 
    background-color: var(--cta);
    box-shadow: var(--shadow-cta);
}

.btn-cta:hover {
    box-shadow: none;
    background-color: var(--cta-2);
}

.carousel {
    height: 450px;
    border-radius: 10px;
    box-shadow: var(--sahdow);
}

.carousel-slide {
    position: relative;
    height: 450px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
}
.carousel-slide-content {
    position: absolute;
    bottom: 30px;
    left: 40px;
    z-index: 2;
    color: rgba(255,255,255,1);
}

.slick-prev {
    left: -25px;
}
.slick-next {
    right: -25px;
}
.slick-prev:before, .slick-next:before {
    color: rgba(0,0,0,1);
}
.slick-prev,
.slick-next {
    z-index: 9;
    width: 50px;
    height: 50px;
    background-color: rgba(255,255,255,1);
    border-radius: 50%;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.slick-prev:focus,
.slick-next:focus,
.slick-prev:hover,
.slick-next:hover {
    background-color: rgba(238,238,238,1);
}

.slick-dots {
    bottom: 30px;
    right: 40px;
    text-align: right;
}

.slick-dots li {
    width: 10px;
    height: 10px;
    background-color: rgba(255,255,255,1);
}

.slick-dots li.slick-active {
    background-color: var(--primary);
}

.slick-list {
    box-sizing: initial;
    margin-top: -30px;
    padding: 30px 0px;
}

.card-block {
    padding: 100px 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='479' height='450' viewBox='0 0 479 450' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20.5' cy='424.5' r='117.5' stroke='white' stroke-opacity='0.05' stroke-width='70'/%3E%3Ccircle cx='355.669' cy='4.6686' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='379.249' cy='4.6686' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='402.829' cy='4.6686' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='426.41' cy='4.6686' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='449.99' cy='4.6686' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='355.669' cy='28.882' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='379.249' cy='28.882' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='402.829' cy='28.882' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='426.41' cy='28.882' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='449.99' cy='28.882' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='355.669' cy='53.0954' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='379.249' cy='53.0954' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='402.829' cy='53.0954' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='426.41' cy='53.0954' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='449.99' cy='53.0954' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='355.669' cy='77.3088' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='379.249' cy='77.3088' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='402.829' cy='77.3088' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='426.41' cy='77.3088' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='449.99' cy='77.3088' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='355.669' cy='101.522' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='379.249' cy='101.522' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='402.829' cy='101.522' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='426.41' cy='101.522' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='449.99' cy='101.522' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='473.887' cy='4.6686' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='473.887' cy='28.882' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='473.887' cy='53.0954' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='473.887' cy='77.3088' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='473.887' cy='101.522' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='355.669' cy='125.736' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='379.249' cy='125.736' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='402.829' cy='125.736' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='426.41' cy='125.736' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='449.99' cy='125.736' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='473.887' cy='125.736' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3C/svg%3E%0A");
    background-size: cover;
    border-radius: 10px;
    border: none;
}

.card-block:not(.card-block-p0) {
    padding-right: 120px;
}

.card-block.need-overlay:after {
    border-radius: 10px;
}

.card-block h2 {
    font-size: 48px;
    font-weight: 600;
}

.card-block:not(.note-editable) p {
    color: rgba(255,255,255,.8);
    font-size: 16px;
    font-weight: 200;
    letter-spacing: .5px;
    line-height: 28px;
}

.card-block-slider:not(.no-overlap) {
    margin-left: -100px;
    margin-right: -20px;
    min-width: 0;
}

.card-block-slider .slick-prev {
    left: 0;
}

.card-block-slider .slick-next {
    right: 0;
}

.nav-no-overlap .slick-prev {
    left: 0;
}
.nav-no-overlap .slick-next {
    right: 0;
}

.card-block-slider .slick-list {
    box-sizing: initial;
    padding: 30px 0px;
}

.card-block-slider .slick-slide {
    padding: 0 25px;
}

.card-shadow {
    box-shadow: 0 10px 30px rgba(0,0,0,.05);
    border: none;
}
.card-border {
    border: 1px solid rgba(0,0,0,.125);
}

.card-shadow .card:not(.card-no-affect) {
    border-color: rgba(242,242,242,1);
    border-left-color: transparent;
    border-right-color: transparent;
}

.card-primary {
    border-top: 2px solid var(--primary) !important;
}

.card-row {
    flex-flow: row;
}
.card-row .card-image {
    max-width: 250px;
}
.cards-transparent .card-row .card-body {
    padding: 20px;
    background-color: transparent;
}

.card-texture {
    background-image: url("data:image/svg+xml,%3Csvg width='59' height='59' viewBox='0 0 59 59' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3.27778' cy='3.27778' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='16.3889' cy='3.27778' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='29.5' cy='3.27778' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='42.6111' cy='3.27778' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='55.7222' cy='3.27778' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='3.27778' cy='16.3889' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='16.3889' cy='16.3889' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='29.5' cy='16.3889' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='42.6111' cy='16.3889' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='55.7222' cy='16.3889' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='3.27778' cy='29.5' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='16.3889' cy='29.5' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='29.5' cy='29.5' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='42.6111' cy='29.5' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='55.7222' cy='29.5' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='3.27778' cy='42.6111' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='16.3889' cy='42.6111' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='29.5' cy='42.6111' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='42.6111' cy='42.6111' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='55.7222' cy='42.6111' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='3.27778' cy='55.7222' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='16.3889' cy='55.7222' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='29.5' cy='55.7222' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='42.6111' cy='55.7222' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='55.7222' cy='55.7222' r='3.27778' fill='%23F6F6F6'/%3E%3C/svg%3E%0A");
    background-size: 65px;
    background-repeat: no-repeat;
    background-position: 45px 25px;
}

.card-icon {
    display: inline-block;
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(218,253,203,1);
}

.card-fat .card-body {
    padding: 50px 40px;
    border-radius: 5px;
}

.card-category {
    text-transform: uppercase;
    letter-spacing: .6px;
    font-weight: 500;
    margin-bottom: 5px;
}
.card-title {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}
.card-title a {
    color: rgba(0,0,0,1);
}

.post .time,
.card .time {
    font-size: 12px;
    color: rgba(102,102,102,1);
}

.card-duration {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 3px 6px;
    color: rgba(255,255,255,1);
    font-weight: 600;
    border-radius: 3px;
    background-color: rgba(0,0,0,1);
}

.card-image-featured {
    position: relative;
    height: 450px;
    background-size: cover;
    background-position: center;
}

.card-image {
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 180px;
}

.card-author {
    display: flex;
    margin-top: 20px;
}

.card-author-image {
    flex-shrink: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.card-author-detail {
    margin-left: 15px;
}

.card-author-name {
    font-weight: 600;
}
.card-author-desc {
    margin-top: 2px;
    font-size: 12px;
    color: rgba(153,153,153,1);
    font-weight: 300;
    text-transform: lowercase;
}
.card-author-desc:first-letter {
    text-transform: uppercase;
}

.card-price {
    color: var(--primary);
    font-size: 18px;
    font-weight: 500;
}

.card-featured {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    box-shadow: var(--shadow);
}
.card-featured:after {
    border-radius: 10px;
}
.card-featured .card-body h4 {
    line-height: 36px;
}
.card-featured .card-body {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;
    color: rgba(255,255,255,1);
}

.callout {
    position: relative;
    z-index: 1;
    margin-bottom: -50px;
    padding: 100px;
    background-image: url("data:image/svg+xml,%3Csvg width='980' height='335' viewBox='0 0 980 335' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10.3333' cy='3.33314' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='33.1112' cy='3.33314' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='55.8889' cy='3.33314' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='78.6667' cy='3.33314' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='101.444' cy='3.33314' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='10.3333' cy='26.1112' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='33.1112' cy='26.1112' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='55.8889' cy='26.1112' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='78.6667' cy='26.1112' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='101.444' cy='26.1112' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='10.3333' cy='48.8886' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='33.1112' cy='48.8886' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='55.8889' cy='48.8886' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='78.6667' cy='48.8886' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='101.444' cy='48.8886' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='10.3333' cy='48.8886' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='33.1112' cy='48.8886' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='55.8889' cy='48.8886' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='78.6667' cy='48.8886' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='101.444' cy='48.8886' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='10.3333' cy='71.6669' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='33.1112' cy='71.6669' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='55.8889' cy='71.6669' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='78.6667' cy='71.6669' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='101.444' cy='71.6669' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='10.3333' cy='71.6669' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='33.1112' cy='71.6669' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='55.8889' cy='71.6669' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='78.6667' cy='71.6669' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='101.444' cy='71.6669' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='10.3333' cy='94.4445' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='33.1112' cy='94.4445' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='55.8889' cy='94.4445' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='78.6667' cy='94.4445' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='101.444' cy='94.4445' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='10.3333' cy='94.4445' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='33.1112' cy='94.4445' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='55.8889' cy='94.4445' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='78.6667' cy='94.4445' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Ccircle cx='101.444' cy='94.4445' r='4.55555' fill='%235FAD40' fill-opacity='0.05'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M874.78 196.223C915.757 196.524 960.475 150.401 992.895 175.462C1025.64 200.77 990.72 256.844 1003.93 296.058C1017.4 336.05 1071.52 358.969 1068.91 401.088C1066.28 443.543 1031.21 483.545 991.383 498.493C953.263 512.799 915.175 479.048 874.78 473.945C841.888 469.79 808.948 482.819 777.785 471.508C738.545 457.265 691.035 441.59 677.168 402.22C663.302 362.851 698.639 324.673 712.158 285.184C725.39 246.533 719.553 193.324 755.396 173.716C791.814 153.794 833.269 195.918 874.78 196.223Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='739.655' y1='179.882' x2='945.987' y2='317.519' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EEF4EB' stop-opacity='0.48'/%3E%3Cstop offset='1' stop-color='%23EEF4EB' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-position: center;
    background-size: cover;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 60px rgba(0,0,0,.1);
}

.section-feature {
    margin-top: -80px;
    background-color: #fff;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0 20px 60px rgba(0,0,0,.1);
}

.feature {
    display: flex;
}

.feature-icon {
    flex-shrink: 0;
    display: inline-block;
    width: 70px;
    height: 70px;
    padding: 10px;
    margin-right: 30px;
    background-color: #D6FCC7;
    fill: currentColor;
    border-radius: 10px;
}

.feature .text-badge {
    font-weight: 600;
    margin-bottom: 5px;
}

.feature-desc h4 {
    font-size: 30px;
    font-weight: 600;
}

.feature-desc .lead {
    font-weight: 200;
    font-size: 16px;
    line-height: 32px;
}

.feature-sm .feature-icon {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.feature-sm .feature-desc h4 {
    font-size: 18px;
}

.feature-sm .feature-desc .lead {
    font-size: 14px;
    line-height: 28px;
}

.divider {
    display: inline-block;
    margin: 50px 0;
    height: 2px;
    width: 100%;
    background-color: #F2F2F2;
}

.divider-v {
    display: inline-block;
    margin: 0 50px;
    width: 2px;
    background-color: #fff;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.partners .partner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% / 4) - 20px);
    padding: 40px;
    margin: 10px;
    border-radius: 5px;
    background-color: #DFE8DB;
    transition: all .5s;
}

.partners .partner:hover {
    background-color: #fff;
    box-shadow: 0 20px 60px rgba(0,0,0,.1);
}

.section-partner {
    position: relative;
}
.section-partner::after {
    content: ' ';
    position: absolute;
    bottom: -200px;
    left: 0;
    width: 100%;
    height: 192px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='1152' height='173' viewBox='0 0 1152 173' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 69L64 87C128 104 256 138 384 127C512 115 640 58 768 58C896 58 1024 115 1088 144L1152 173V0H1088C1024 0 896 0 768 0C640 0 512 0 384 0C256 0 128 0 64 0H0V69Z' fill='%23EEF4EB'/%3E%3C/svg%3E%0A");
}

.section-mobile {
    padding-top: 150px;
    padding-bottom: 250px;
    color: #fff;
    background-color: var(--primary);
    background-image: url("data:image/svg+xml,%3Csvg width='535' height='825' viewBox='0 0 535 825' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='661.246' height='807.777' rx='60' transform='matrix(-0.8766 0.48122 0.400743 0.91619 561.67 -103.798)' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='798.07' y1='383.344' x2='151.265' y2='287.97' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EEF4EB' stop-opacity='0.45'/%3E%3Cstop offset='1' stop-color='%23EEF4EB' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: 600px;
    background-position: right;
    background-repeat: no-repeat;
}

.section-mobile .divider-v {
    height: 35px;
    background-color: rgba(255,255,255,.3);
}

.section-mobile .phone {
    position: relative;
    display: inline-block;
    width: 370px;
}
.section-mobile .phone::after {
    content: ' ';
    position: absolute;
    bottom: 50px;
    right: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='91' height='91' viewBox='0 0 91 91' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3.37037' cy='3.37037' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='20.2222' cy='3.37037' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='37.0741' cy='3.37037' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='53.9259' cy='3.37037' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='70.7778' cy='3.37037' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='87.6296' cy='3.37037' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='3.37037' cy='20.2222' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='20.2222' cy='20.2222' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='37.0741' cy='20.2222' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='53.9259' cy='20.2222' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='70.7778' cy='20.2222' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='87.6296' cy='20.2222' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='3.37037' cy='37.074' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='20.2222' cy='37.074' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='37.0741' cy='37.074' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='53.9259' cy='37.074' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='70.7778' cy='37.074' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='87.6296' cy='37.074' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='3.37037' cy='53.9258' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='20.2222' cy='53.9258' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='37.0741' cy='53.9258' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='53.9259' cy='53.9258' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='70.7778' cy='53.9258' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='87.6296' cy='53.9258' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='3.37037' cy='53.9258' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='20.2222' cy='53.9258' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='37.0741' cy='53.9258' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='53.9259' cy='53.9258' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='70.7778' cy='53.9258' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='87.6296' cy='53.9258' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='3.37037' cy='70.7778' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='20.2222' cy='70.7778' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='37.0741' cy='70.7778' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='53.9259' cy='70.7778' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='70.7778' cy='70.7778' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='87.6296' cy='70.7778' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='3.37037' cy='70.7778' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='20.2222' cy='70.7778' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='37.0741' cy='70.7778' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='53.9259' cy='70.7778' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='70.7778' cy='70.7778' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='87.6296' cy='70.7778' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='3.37037' cy='87.6296' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='20.2222' cy='87.6296' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='37.0741' cy='87.6296' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='53.9259' cy='87.6296' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='70.7778' cy='87.6296' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='87.6296' cy='87.6296' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='3.37037' cy='87.6296' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='20.2222' cy='87.6296' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='37.0741' cy='87.6296' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='53.9259' cy='87.6296' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='70.7778' cy='87.6296' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3Ccircle cx='87.6296' cy='87.6296' r='3.37037' fill='white' fill-opacity='0.15'/%3E%3C/svg%3E%0A");
    width: 91px;
    height: 91px;
}

.section-mobile .count {
    font-weight: 600;
    font-size: 18px;
}
.section-mobile .count-label {
    font-weight: 600;
    color: rgba(255,255,255,.5);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.section-mobile .lead {
    color: rgba(255,255,255,.8);
}

.section-mobile .btn-cta {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #000;
    box-shadow: 0 20px 60px rgba(0,0,0,.4);
    border-radius: 5px;
}
.section-mobile .btn-cta:hover {
    box-shadow: none;
}

.section-stories {
    position: relative;
    padding-top: 0;
    padding-bottom: 50px;
}

.section-stories::before {
    content: ' ';
    position: absolute;
    top: -245px;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='1152' height='169' viewBox='0 0 1152 169' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 11L64 29C128 46 256 80 384 69C512 57 640 0 768 0C896 0 1024 57 1088 86L1152 115V169H0V11Z' fill='%23EEF4EB'/%3E%3C/svg%3E%0A");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 190px;
    width: 100%;
}

.section {
    margin-top: 60px;
    margin-bottom: 60px;
}

.section .lead {
    font-size: 18px;
    line-height: 36px;
}

.section-pad {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-gray {
    background-color: rgba(249,249,249,1);
}

.section-title-sm,
.section-title-md,
.section-title {
    font-size: 26px;
    font-weight: 700;
    line-height: 44px;
}
.section-title-md {
    font-size: 22px;
}
.section-title-md.with-border {
    display: flex;
    white-space: nowrap;
}
.section-title-md.with-border:after {
    content: ' ';
    width: 100%;
    margin-top: 13px;
    border-top: 1px solid rgba(238,238,238,1);
}

.section-title-sm {
    font-size: 18px;
}
.section-title-sm.bordered {
    position: relative;
    margin-bottom: 20px;
}
.section-title-sm.bordered:after {
    position: absolute;
    left: 0;
    bottom: -6px;
    display: inline-block;
    background-color: var(--primary);
    height: 3px;
    width: 20px;
    content: ' ';
}

.section-title-xs {
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.page-title {
    font-size: 28px;
    font-weight: 600;
    line-height: 44px;
}

.page-price {
    margin-top: 14px;
    font-weight: 600;
    font-size: 20px;
    color: var(--primary);
}

.page-specs {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 10px 0;
    margin: 30px 0 0 0;
    border-top: 1px solid rgba(238,238,238,1);
    border-bottom: 1px solid rgba(238,238,238,1);
}

.page-block {
    margin-top: 40px;
    padding-bottom: 20px;
}
.page-block:not(:last-child) {
    border-bottom: 1px solid rgba(238,238,238,1);
}

.page-block-title {
    color: rgba(153,153,153,1);
}
.page-block-title,
.page-specs li {
    font-size: inherit;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
}

.page-specs li {
    display: flex;
    padding: 10px 0;
    list-style: none;
}

.page-specs li .page-spec-name {
    color: rgba(153,153,153,1);
}
.page-specs li .page-spec-name,
.page-specs li .page-spec-value {
    flex-shrink: 0;
    width: 30%;
}
.page-specs li .page-spec-value {
    width: 100%;
}

.breadcrumb {
    padding: 0;
    background-color: transparent;
}

.list-posts .post {
    display: flex;
    align-items: center;
}

.list-posts .post:not(:last-child) {
    margin-bottom: 30px;
}

.list-posts .post .post-image {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.list-posts .post .post-detail {
    margin-left: 20px;
}
.list-posts .post .post-title {
    font-size: 16px;
    font-weight: 600;
}
.list-posts .post .post-title a {
    line-height: 26px;
    color: rgba(0,0,0,1);
}
.list-posts .post .post-metas {
    display: flex;
    align-items: center;
    margin: 0 -5px;
}
.list-posts .post .post-metas > div {
    margin: 0 5px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 12px;
}
.list-posts .post .post-metas .normal {
    text-transform: none;
    color: rgba(153,153,153,1);
}

.card.fat .card-title {
    margin-bottom: 20px;
    font-size: 24px;
}
.card.fat .card-body {
    padding: 30px;
}

.card.fat {
    box-shadow: 0 10px 30px rgba(0,0,0,.05);
    border-color: transparent;
}

.cards-transparent .card {
    background-color: transparent;
    box-shadow: none;
}
.cards-transparent .card-image {
    border-radius: 5px;
}
.cards-transparent .card-body {
    padding: 15px 0 0 0;
}

.footer {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #7F887A;
    background-color: #fff;
}

.footer-skew {
    padding-top: 150px;
}
.footer-skew::before {
    content: ' ';
    position: absolute;
    z-index: -1;
    top: -100px;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: #fff;
    transform: skewY(5deg);
}

.footer-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.footer-desc {
    font-weight: 200;
    line-height: 32px;
    color: #7F887A;
}

.footer-links {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-links li a {
    display: inline-block;
    padding: 4px 0;
    margin-bottom: 3px;
    color: #7F887A;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}

.footer-links li a:hover {
    color: var(--primary);
    border-bottom-color: var(--primary);
}

.footer .copyright {
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 500;
    color: #B2B6B1;
    text-align: center;
}

.footer .divider {
    margin: 0;
    height: 1px;
    margin-top: 40px;
    background-color: #f2f2f2;
}

.footer.bg-gray .payment {
    background-color: #fff;
}

.payments {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
}

.payment {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin: 5px;
    width: calc((100% / 2) - 20px);
}

.colorinput {
    margin: 0;
    position: relative;
    cursor: pointer;
}

.colorinput-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.colorinput-color {
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 3px;
    color: rgba(255,255,255,1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.colorinput-color:before {
    content: '';
    opacity: 0;
    position: absolute;
    top: .25rem;
    left: .25rem;
    height: 1.25rem;
    width: 1.25rem;
    transition: .3s opacity;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e") no-repeat center center/50% 50%;
}

.colorinput-input:checked ~ .colorinput-color:before {
    opacity: 1;
}

.colorinput-input:focus ~ .colorinput-color {
    border-color: rgba(70,127,207,1);
}

.nav-tabs .nav-link {
    margin-right: 40px;
    padding-left: 0;
    padding-right: 0;
    font-weight: 400;
    color: rgba(153,153,153,1);
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active {
    color: var(--primary);
    border-color: transparent;
    border-bottom: 2px solid var(--primary);
}
.nav-tabs .nav-link.active {
    font-weight: 600;
}
.nav-tabs .nav-link:focus {
    border-color: transparent;
}

.nav-tabs.bordered {
    margin-top: 10px;
    border-top: 1px solid #eee;
    border-bottom-color: transparent;
}
.nav-tabs.bordered .nav-link {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.desc ol,
.desc ul,
.desc p {
    line-height: 28px;
    color: rgba(102,102,102,1);
}

.desc p:not(:last-child) {
    margin-bottom: 40px;
}

.desc p + img {
    margin-top: 0;
}

.desc img {
    margin: 40px 0;
}

.desc p img {
    margin-top: 0;
    max-width: 400px;
    padding: 20px;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.desc-article .push-inner,
.desc-article p {
    line-height: 30px;
    font-size: 16px;
}

.preview-thumb {
    width: calc((100% / 4) - 7px);
    margin-right: 10px;
    border-radius: 3px;
    border: 2px solid transparent;
    overflow: hidden;
}

.preview-thumb.active {
    border-color: var(--primary);
}

.icon-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.icon-list.bordered li {
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid rgba(238,238,238,1);
}

.icon-list.bordered li:last-child {
    padding-bottom: 0;
    border-bottom-color: transparent;
}

.icon-list li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.icon-list .the-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.rating {
    display: flex;
}

.rating svg {
    width: 15px;
    height: 15px;
    fill: rgba(255,218,23,1);
}

blockquote {
    font-style: italic;
    margin-bottom: 0;
}

.list-border > div:not(:last-of-type) {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(238,238,238,1);
}

.social-links {
    display: flex;
    align-items: center;
    list-style: none;
}
.social-links.sm .social-links-item {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    line-height: 28px;
    border-radius: 3px;
}
.social-links-item {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    line-height: 38px;
    background-color: rgba(238,238,238,1);
    border-radius: 50%;
}

.social-links-item-facebook {
    background-color: rgba(65,114,184,1);
}
.social-links-item-twitter {
    background-color: rgba(29,161,242,1);
}
.social-links-item-whatsapp {
    background-color: rgba(37,211,102,1);
}
.social-links-item-telegram {
    background-color: rgba(44,165,224,1);
}
.social-links-item .social-links-icon {
    width: 18px;
    fill: rgba(255,255,255,1);
}

.tags {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.tags a {
    display: block;
    margin-right: 10px;
    padding: 4px 18px;
    border: 1px solid rgba(238,238,238,1);
    border-radius: 30px;
}

.tags-potensi {
    margin-top: 5px;
}
.tags-potensi a {
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 12px;
    color: var(--primary);
    border-radius: 3px;
    border-color: transparent;
    background-color: rgba(218,255,203,1);
}

.cart-navs {
    display: flex;
    justify-content: center;
}

.cart-navs .btn {
    margin: 0 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-basis: calc(100% / 3);
}

.total {
    display: flex;
    flex-flow: column;
}

.total-row {
    display: flex;
    border-bottom: 1px solid rgba(238,238,238,1);
    padding: 15px 0;
}
.total-name,
.total-value {
    width: 50%;
}
.total-name {
    color: rgba(102,102,102,1);
}
.total-value {
    font-weight: 600;
}

.imagecheck {
    margin: 0;
    position: relative;
    cursor: pointer;
}

.imagecheck-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.imagecheck-figure {
    border: 2px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
    margin: 0;
    position: relative;
}

.imagecheck-input:focus ~ .imagecheck-figure {
    box-shadow: 0 0 0 2px var(--primary);
}

.imagecheck-input:checked ~ .imagecheck-figure {
    border-width: 2px;
    border-color: var(--primary);
}

.imagecheck-figure:before {
    content: '';
    position: absolute;
    top: .25rem;
    left: .25rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: var(--primary) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e") no-repeat center center/50% 50%;
    color: rgba(255,255,255,1);
    z-index: 1;
    border-radius: 3px;
    opacity: 0;
    transition: .3s opacity;
}

.imagecheck-input:checked ~ .imagecheck-figure:before {
    opacity: 1;
}

.imagecheck-image {
    max-width: 100%;
    transition: .3s opacity;
}

.imagecheck-image:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.imagecheck-image:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.imagecheck:hover .imagecheck-image,
.imagecheck-input:focus ~ .imagecheck-figure .imagecheck-image,
.imagecheck-input:checked ~ .imagecheck-figure .imagecheck-image {
    opacity: 1;
}

.imagecheck-caption {
    text-align: center;
    padding: .25rem .25rem;
    color: rgba(154,160,172,1);
    font-size: 0.875rem;
    transition: .3s color;
}

.imagecheck:hover .imagecheck-caption,
.imagecheck-input:focus ~ .imagecheck-figure .imagecheck-caption,
.imagecheck-input:checked ~ .imagecheck-figure .imagecheck-caption {
    color: rgba(73,80,87,1);
}

.page-item .page-link {
    color: var(--cta);
}
.page-item.active .page-link {
    border-color: transparent;
    background-color: var(--cta);
    color: rgba(255,255,255,1);
}

.badge-primary {
    background-color: var(--primary);
    color: rgba(255,255,255,1);
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: var(--primary);
    border-color: transparent;
}

.dropdown-menu {
    box-shadow: 0 8px 30px rgba(0,0,0,.1);
    border: none;
}

.dropdown-item {
    font-size: 14px;
}
.dropdown-item:focus,
.dropdown-item:focus:hover {
    background-color: var(--primary);
    color: rgba(255,255,255,1);
}

.megamenu {
  position: static;
}

.megamenu .dropdown-menu {
    background: none;
    border: none;
    width: 100%;
}

.cat-links {
    padding-left: 18px;
    list-style: square;
}

.cat-links li a {
    display: block;
    padding: 10px 0;
    font-size: 14px;
    border-bottom: 1px solid rgba(238,238,238,1);
}

.cat-links li:last-child a {
    border: none;
    padding-bottom: 0;
}

.cat-title {
    font-weight: 700;
    font-size: 18px;
}

.card-group-x .card:not(:last-child) {
    border-radius: 0;
    border-bottom: 0;
}
.card-group-x .card:not(.card-no-affect):first-child {
    border-top: none;
}
.card-group-x .card:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.card-group-x .card:not(.card-no-affect):last-child {
    border-bottom: none;
}
.card-group-x .card:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.links {
    list-style: square;
    padding-left: 17px;
}

.links li a {
    display: inline-block;
    padding: 5px 0;
}

.note-editor.note-frame {
    border-color: rgba(206,212,218,1);
}

label.required:after {
    content: '*';
    color: rgba(255,0,0,1);
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: var(--primary);
}

.daterangepicker {
    border-color: transparent;
    box-shadow: var(--shadow);
}

.daterangepicker:before {
    border-bottom: none;
    box-shadow: var(--shadow);
}

.list-group-item {
    border-color: rgba(242,242,242,1);
}

select.form-control {
    padding-top: 0;
    padding-bottom: 0;
}

.chocolat-overlay {
    background-color: #000;
}

.nav-pills .nav-link {
    color: #999;
}
.nav-pills .nav-link:not(.active):hover {
    color: var(--primary);
}
.nav-pills .nav-link:not(.active) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-pills .nav-link.active {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--primary);
    box-shadow: var(--shadow-primary);
}

.nav-pills .dropdown-toggle::after {
    margin-left: auto;
}

.nav-pills .dropdown .dropdown-menu {
    position: static !important;
    transform: none !important;
    padding: 0;
    margin-top: 0;
    width: 100%;
    box-shadow: none;
    background-color: #f9f9f9;
}
.nav-pills .dropdown .dropdown-menu .nav-link {
    font-size: 14px;
    padding-left: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--primary);
}

.nav-pills .nav-link:not(.active):focus:hover {
    background-color: var(--primary);
    color: #fff;
}

.nav-pills.bordered .nav-link {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-radius: 0;
    border-bottom: 1px solid #eee;
}
.nav-pills.bordered li:last-child .nav-link {
    border-bottom-color: transparent;
}
.nav-pills.bordered .nav-link.active {
    margin: 0;
    color: var(--primary);
    font-weight: 600;
    box-shadow: none;
    background-color: transparent;
}
.nav-pills.bordered .nav-link .icon {
    flex-shrink: 0;
    width: 20px;
    margin-right: 15px;
    fill: currentColor;
}

.stat-value {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 5px;
}

.stat-name {
    font-weight: 400;
}

.pagination {
    display: inline-flex;
    border-color: transparent;
}

.pagination .page-link {
    border-color: #F5F2F0;
    padding: 10px 15px;
}

.list-check {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-check li {
    display: flex;
    margin-bottom: 15px;
}

.list-check .list-check-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(95,173,64,.15);
    color: var(--primary);
    margin-right: 15px;
}
.list-check .list-check-icon svg {
    fill: currentColor;
    width: 20px;
}

.select2-container--default .select2-selection--single {
    border-color: #ced4da;
    height: 42px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
}

.select2-dropdown {
    border-color: #ced4da;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #ced4da;
}

.form-control.is-invalid.select2-hidden-accessible + .select2 .selection .select2-selection--single {
    border-color: #dc3545;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
    background-repeat: no-repeat;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    background-position: center right calc(.375em + .8rem);
    padding-right: calc(1.5em + .75rem);
}

.hidden{
    display: none;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .6;
    visibility: hidden;
    background-image: url("data:image/svg+xml,%0A%3Csvg version='1.1' id='loader-1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='60px' height='60px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Cpath fill='%23000' d='M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
}

.modal-header,
.modal-body,
.modal-footer {
  padding: 25px; }

.modal-body {
  padding-top: 15px; }

.modal-footer {
  padding-top: 15px;
  padding-bottom: 15px; }

.modal-header {
  border-bottom: none;
  padding-bottom: 5px; }
  .modal-header h5 {
    font-size: 18px; }

.modal-footer {
  border-top: none;
  border-radius: 0 0 3px 3px; }

.modal-content {
  max-width: 100%;
  border: none;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05); }

.modal.show .modal-content {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); }

.modal-progress .modal-content {
  position: relative; }
  .modal-progress .modal-content:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 999;
    background-image: url("../img/spinner.svg");
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px; }

.modal-part {
  display: none; }