:root {
    --primary: #5FAD40;
    --primary-2: #48902C;
    --video: #4051AD;
    --product: #40A6AD;
    --gray: #F3FDF4;
    --cta: #ED7D3B;
    --cta-2: #DB7235;
    --shadow: 0 10px 30px rgba(0,0,0,.1);
    --shadow-cta: 0 4px 10px rgba(237,125,59,.3);
    --shadow-primary: 0 8px 25px rgba(95,173,64,.4);
}

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap');

body {
    font-size: 14px;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.row.gutter-sm {
    margin-left: -5px;
    margin-right: -5px;
}
.row.gutter-sm > [class^="col"] {
    padding-left: 5px;
    padding-right: 5px;
}
.row.gutter-lg {
    margin-left: -40px;
    margin-right: -40px;
}
.row.gutter-lg > [class^="col"] {
    padding-left: 40px;
    padding-right: 40px;
}

.fill-current {
    fill: currentColor;
}

.plyr {
    border-radius: 5px;
    box-shadow: var(--shadow);
    height: 400px;
}

a {
    color: var(--primary);
}

.text-sm {
    font-size: 12px;
}

.tracking {
    letter-spacing: .5px;
}

.text-gray {
    color: #999 !important;
}

.flex-column {
    flex-flow: column;
}

.no-shrink {
    flex-shrink: 0;
}

.border-transparent {
    border-color: transparent;
}

.text-opacity {
    opacity: .6;
}

.text-primary {
    color: var(--primary) !important;
}

.bg-gray {
    background-color: var(--gray) !important;
}
.bg-primary {
    background-color: var(--primary) !important;
}

.bg-video {
    background-color: var(--video) !important;
}

.bg-product {
    background-color: var(--product) !important;
}

.bg-image {
    background-position: center;
    background-size: cover;
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
}

.form-group {
    margin-bottom: 30px;
}

.form-control {
    line-height: 40px;
    font-size: 14px;
}

.form-control:not(textarea) {
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-control-bg {
    padding-left: 40px;
    background-position: 10px;
    background-size: 20px;
    background-repeat: no-repeat;
}

.need-overlay:after,
.card-featured:after,
.need-overlay-gradient:after,
.carousel-slide:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.0), rgba(0,0,0,.55));
    content: ' ';
}

.need-overlay:after {
    background-color: #000;
    background-image: none;
    opacity: .4;
}

.need-overlay-layer {
    position: relative;
    z-index: 2;
}

.topbar {
    padding: 10px 0;
    font-size: 12px;
    background-color: #eee;
}

.main-navbar {
    height: 100px;
}

.main-navbar .nav-link {
    height: auto;
    color: #6A6969;
}

.main-navbar .nav-item.active .nav-link,
.main-navbar .nav-item .nav-link:hover {
    color: var(--primary);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 20px;
}

.navbar-expand-lg .navbar-nav .nav-item .btn {
    margin-left: 25px;
    color: #fff;
}

.navbar-secondary {
    height: 60px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.navbar-secondary .navbar-nav {
    display: flex;
    align-items: center;
}
.navbar-secondary .nav-link {
    display: inline-flex;
}

.navbar-secondary .nav-link svg {
    margin-right: 10px;
}

.nav-item-divider,
.navbar-divider {
    margin: 0 30px;
    height: 30px;
    width: 1px;
    background-color: #eee;
}

.search-form {
    width: 400px;
}

.search-form .input-group {
    width: 100%;
}

.search-form .form-control {
    padding-left: 55px;
    padding-right: 25px;
    height: 50px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ccc' viewBox='0 0 24 24'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='search'%3E%3Crect width='24' height='24' opacity='0'/%3E%3Cpath d='M20.71 19.29l-3.4-3.39A7.92 7.92 0 0 0 19 11a8 8 0 1 0-8 8 7.92 7.92 0 0 0 4.9-1.69l3.39 3.4a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 11a6 6 0 1 1 6 6 6 6 0 0 1-6-6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 30px;
    background-position: 13px center;
    background-repeat: no-repeat;
    background-color: #eee;
    border-color: #eee;
}

.search-form .form-control:focus {
    background-color: transparent;
}

.btn {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.btn:not(.btn-normal) {
    padding: 10px 35px;
}

.btn-icon {
    display: inline-flex;
    align-items: center;
}

.btn-the-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: currentColor;
}

.btn-outline-primary {
    border-color: var(--primary);
    color: var(--primary);
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:not(.disabled):not(.disabled):active:focus,
.btn-outline-primary:not(.disabled):not(.disabled):active,
.btn-primary,
.btn-primary:focus,
.btn-primary:focus:hover,
.btn-primary:hover {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    box-shadow: none;
    background-color: var(--primary-2)
}

.btn-primary-shadow {
    box-shadow: var(--shadow-primary);
}

.btn-fat {
    padding: 13px 33px;
}

.btn-round {
    border-radius: 30px;
}

.btn-fat.btn-round {
    padding-left: 25px;
    padding-right: 25px;
}

.btn-outline-cta {
    border-color: var(--cta);
    border-width: 1px;
    color: var(--cta);
}
.btn-outline-cta:hover {
    background-color: var(--cta);
    color: #fff;
}

.btn-cta,
.btn-cta:hover {
    color: #fff; 
    background-color: var(--cta);
    box-shadow: var(--shadow-cta);
}

.btn-cta:hover {
    box-shadow: none;
    background-color: var(--cta-2);
}

.carousel {
    height: 450px;
    border-radius: 10px;
    box-shadow: var(--sahdow);
}

.carousel-slide {
    position: relative;
    height: 450px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
}
.carousel-slide-content {
    position: absolute;
    bottom: 30px;
    left: 40px;
    z-index: 2;
    color: #fff;
}

.slick-prev {
    left: -25px;
}
.slick-next {
    right: -25px;
}
.slick-prev:before, .slick-next:before {
    color: #000;
}
.slick-prev,
.slick-next {
    z-index: 9;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.slick-prev:focus,
.slick-next:focus,
.slick-prev:hover,
.slick-next:hover {
    background-color: #eee;
}

.slick-dots {
    bottom: 30px;
    right: 40px;
    text-align: right;
}

.slick-dots li {
    width: 10px;
    height: 10px;
    background-color: #fff;
}

.slick-dots li.slick-active {
    background-color: var(--primary);
}

.slick-list {
    box-sizing: initial;
    margin-top: -30px;
    padding: 30px 0px;
}

.card-block {
    padding: 100px 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='479' height='450' viewBox='0 0 479 450' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20.5' cy='424.5' r='117.5' stroke='white' stroke-opacity='0.05' stroke-width='70'/%3E%3Ccircle cx='355.669' cy='4.6686' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='379.249' cy='4.6686' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='402.829' cy='4.6686' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='426.41' cy='4.6686' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='449.99' cy='4.6686' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='355.669' cy='28.882' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='379.249' cy='28.882' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='402.829' cy='28.882' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='426.41' cy='28.882' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='449.99' cy='28.882' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='355.669' cy='53.0954' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='379.249' cy='53.0954' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='402.829' cy='53.0954' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='426.41' cy='53.0954' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='449.99' cy='53.0954' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='355.669' cy='77.3088' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='379.249' cy='77.3088' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='402.829' cy='77.3088' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='426.41' cy='77.3088' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='449.99' cy='77.3088' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='355.669' cy='101.522' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='379.249' cy='101.522' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='402.829' cy='101.522' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='426.41' cy='101.522' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='449.99' cy='101.522' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='473.887' cy='4.6686' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='473.887' cy='28.882' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='473.887' cy='53.0954' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='473.887' cy='77.3088' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='473.887' cy='101.522' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='355.669' cy='125.736' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='379.249' cy='125.736' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='402.829' cy='125.736' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='426.41' cy='125.736' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='449.99' cy='125.736' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3Ccircle cx='473.887' cy='125.736' r='4.6686' fill='%23F6F6F6' fill-opacity='0.1'/%3E%3C/svg%3E%0A");
    background-size: cover;
    border-radius: 10px;
    border: none;
}

.card-block:not(.card-block-p0) {
    padding-right: 120px;
}

.card-block.need-overlay:after {
    border-radius: 10px;
}

.card-block h2 {
    font-size: 48px;
    font-weight: 600;
}

.card-block p {
    color: rgba(255,255,255,.8);
    font-size: 16px;
    font-weight: 200;
    letter-spacing: .5px;
    line-height: 28px;
}

.card-block-slider:not(.no-overlap) {
    margin-left: -100px;
    margin-right: -20px;
    min-width: 0;
}

.card-block-slider .slick-prev {
    left: 0;
}

.card-block-slider .slick-next {
    right: 0;
}

.card-block-slider .slick-list {
    box-sizing: initial;
    padding: 30px 0px;
}

.card-block-slider .slick-slide {
    padding: 0 25px;
}

.card-shadow {
    box-shadow: 0 10px 30px rgba(0,0,0,.05);
    border: none;
}

.card-row {
    flex-flow: row;
}
.card-row .card-image {
    max-width: 250px;
}
.cards-transparent .card-row .card-body {
    padding: 20px;
    background-color: transparent;
}

.card-texture {
    background-image: url("data:image/svg+xml,%3Csvg width='59' height='59' viewBox='0 0 59 59' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3.27778' cy='3.27778' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='16.3889' cy='3.27778' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='29.5' cy='3.27778' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='42.6111' cy='3.27778' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='55.7222' cy='3.27778' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='3.27778' cy='16.3889' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='16.3889' cy='16.3889' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='29.5' cy='16.3889' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='42.6111' cy='16.3889' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='55.7222' cy='16.3889' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='3.27778' cy='29.5' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='16.3889' cy='29.5' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='29.5' cy='29.5' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='42.6111' cy='29.5' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='55.7222' cy='29.5' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='3.27778' cy='42.6111' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='16.3889' cy='42.6111' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='29.5' cy='42.6111' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='42.6111' cy='42.6111' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='55.7222' cy='42.6111' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='3.27778' cy='55.7222' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='16.3889' cy='55.7222' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='29.5' cy='55.7222' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='42.6111' cy='55.7222' r='3.27778' fill='%23F6F6F6'/%3E%3Ccircle cx='55.7222' cy='55.7222' r='3.27778' fill='%23F6F6F6'/%3E%3C/svg%3E%0A");
    background-size: 65px;
    background-repeat: no-repeat;
    background-position: 45px 25px;
}

.card-icon {
    display: inline-block;
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #DAFDCB;
}

.card-fat .card-body {
    padding: 50px 40px;
    border-radius: 5px;
}

.card-category {
    text-transform: uppercase;
    letter-spacing: .6px;
    font-weight: 500;
    margin-bottom: 5px;
}
.card-title {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}
.card-title a {
    color: #000;
}

.card .time {
    font-size: 12px;
    color: #666;
}

.card-duration {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 3px 6px;
    color: #fff;
    font-weight: 600;
    border-radius: 3px;
    background-color: #000;
}

.card-image-featured {
    position: relative;
    height: 450px;
    background-size: cover;
    background-position: center;
}

.card-image {
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 180px;
}

.card-author {
    display: flex;
    margin-top: 20px;
}

.card-author-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.card-author-detail {
    margin-left: 15px;
}

.card-author-name {
    font-weight: 600;
}
.card-author-desc {
    margin-top: 2px;
    font-size: 12px;
    color: #999;
    font-weight: 300;
}

.card-price {
    color: var(--primary);
    font-size: 18px;
    font-weight: 500;
}

.card-featured {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    box-shadow: var(--shadow);
}
.card-featured:after {
    border-radius: 10px;
}
.card-featured .card-body h4 {
    line-height: 36px;
}
.card-featured .card-body {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;
    color: #fff;
}

.section {
    margin-top: 60px;
    margin-bottom: 60px;
}

.section-pad {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-gray {
    background-color: #f9f9f9;
}

.section-title-sm,
.section-title-md,
.section-title {
    font-size: 26px;
    font-weight: 700;
}
.section-title-md {
    font-size: 22px;
}
.section-title-md.with-border {
    display: flex;
    white-space: nowrap;
}
.section-title-md.with-border:after {
    content: ' ';
    width: 100%;
    margin-top: 13px;
    border-top: 1px solid #eee;
}

.section-title-sm {
    font-size: 18px;
}
.section-title-sm.bordered {
    position: relative;
    margin-bottom: 20px;
}
.section-title-sm.bordered:after {
    position: absolute;
    left: 0;
    bottom: -6px;
    display: inline-block;
    background-color: var(--primary);
    height: 3px;
    width: 20px;
    content: ' ';
}

.page-title {
    font-size: 34px;
    font-weight: 600;
    line-height: 44px;
}

.page-price {
    margin-top: 20px;
    font-weight: 600;
    font-size: 26px;
    color: var(--primary);
}

.page-specs {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 10px 0;
    margin: 40px 0 0 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.page-block {
    margin-top: 40px;
    padding-bottom: 20px;
}
.page-block:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.page-block-title {
    color: #999;
}
.page-block-title,
.page-specs li {
    font-size: inherit;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
}

.page-specs li {
    display: flex;
    padding: 10px 0;
    list-style: none;
}

.page-specs li .page-spec-name {
    color: #999;
}
.page-specs li .page-spec-name,
.page-specs li .page-spec-value {
    flex-shrink: 0;
    width: 30%;
}

.breadcrumb {
    padding: 0;
    background-color: transparent;
}

.list-posts .post {
    display: flex;
    align-items: center;
}

.list-posts .post:not(:last-child) {
    margin-bottom: 30px;
}

.list-posts .post .post-image {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.list-posts .post .post-detail {
    margin-left: 20px;
}
.list-posts .post .post-title {
    font-size: 16px;
    font-weight: 600;
}
.list-posts .post .post-title a {
    line-height: 24px;
    color: #000;
}
.list-posts .post .post-metas {
    display: flex;
    align-items: center;
    margin: 0 -5px;
}
.list-posts .post .post-metas > div {
    margin: 0 5px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 12px;
}
.list-posts .post .post-metas .normal {
    text-transform: none;
    color: #999;
}

.card.fat .card-title {
    margin-bottom: 20px;
    font-size: 24px;
}
.card.fat .card-body {
    padding: 30px;
}

.card.fat {
    box-shadow: 0 10px 30px rgba(0,0,0,.05);
    border-color: transparent;
}

.cards-transparent .card {
    background-color: transparent;
    box-shadow: none;
}
.cards-transparent .card-image {
    border-radius: 5px;
}
.cards-transparent .card-body {
    padding: 15px 0 0 0;
}

.footer {
    padding: 60px 0;
    color: #fff;
    background-color: var(--primary);
}

.footer-title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
}

.footer-desc {
    font-weight: 200;
    line-height: 26px;
    color: rgba(255,255,255,.8);
}

.footer-links {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-links li a {
    display: block;
    padding: 7px 0;
    color: rgba(255,255,255,.8);
}

.colorinput {
    margin: 0;
    position: relative;
    cursor: pointer;
}

.colorinput-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.colorinput-color {
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 3px;
    color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.colorinput-color:before {
    content: '';
    opacity: 0;
    position: absolute;
    top: .25rem;
    left: .25rem;
    height: 1.25rem;
    width: 1.25rem;
    transition: .3s opacity;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e") no-repeat center center/50% 50%;
}

.colorinput-input:checked ~ .colorinput-color:before {
    opacity: 1;
}

.colorinput-input:focus ~ .colorinput-color {
    border-color: #467fcf;
}

.nav-tabs .nav-link {
    margin-right: 40px;
    padding-left: 0;
    padding-right: 0;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .5px;
    color: #999;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active {
    color: var(--primary);
    border-color: transparent;
    border-bottom: 2px solid var(--primary);
}

.desc p {
    line-height: 28px;
    color: #666;
}

.desc p:not(:last-child) {
    margin-bottom: 40px;
}

.desc p + img {
    margin-top: 0;
}

.desc img {
    margin: 40px 0;
}

.desc p img {
    margin-top: 0;
    max-width: 400px;
    padding: 20px;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.desc-article .push-inner,
.desc-article p {
    padding: 0 20px;

}

.preview-thumb {
    margin-right: 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    overflow: hidden;
}

.preview-thumb.active {
    border-color: var(--primary);
}

.icon-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.icon-list.bordered li {
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #eee;
}

.icon-list li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.icon-list .the-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.rating {
    display: flex;
}

.rating svg {
    width: 15px;
    height: 15px;
    fill: #FFDA17;
}

blockquote {
    font-style: italic;
    margin-bottom: 0;
}

.list-border > div:not(:last-of-type) {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}

.social-links {
    display: flex;
    align-items: center;
    list-style: none;
}
.social-links-item {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
    background-color: #eee;
    border-radius: 50%;
}

.social-links-item-facebook {
    background-color: #4172B8;
}
.social-links-item-twitter {
    background-color: #1DA1F2;
}
.social-links-item-whatsapp {
    background-color: #25D366;
}
.social-links-item-telegram {
    background-color: #2CA5E0;
}
.social-links-item .social-links-icon {
    width: 18px;
    fill: #fff;
}

.tags {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.tags a {
    display: block;
    margin-right: 10px;
    padding: 4px 18px;
    border: 1px solid #eee;
    border-radius: 30px;
}

.tags-potensi {
    margin-top: 5px;
}
.tags-potensi a {
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 12px;
    color: var(--primary);
    border-radius: 3px;
    border-color: transparent;
    background-color: #DAFFCB;
}

.cart-navs {
    display: flex;
    justify-content: center;
}

.cart-navs .btn {
    margin: 0 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-basis: calc(100% / 3);
}

.total {
    display: flex;
    flex-flow: column;
}

.total-row {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}
.total-name,
.total-value {
    width: 50%;
}
.total-name {
    color: #666;
}
.total-value {
    font-weight: 600;
}

.imagecheck {
    margin: 0;
    position: relative;
    cursor: pointer;
}

.imagecheck-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.imagecheck-figure {
    border: 2px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
    margin: 0;
    position: relative;
}

.imagecheck-input:focus ~ .imagecheck-figure {
    box-shadow: 0 0 0 2px var(--primary);
}

.imagecheck-input:checked ~ .imagecheck-figure {
    border-width: 2px;
    border-color: var(--primary);
}

.imagecheck-figure:before {
    content: '';
    position: absolute;
    top: .25rem;
    left: .25rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: var(--primary) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e") no-repeat center center/50% 50%;
    color: #fff;
    z-index: 1;
    border-radius: 3px;
    opacity: 0;
    transition: .3s opacity;
}

.imagecheck-input:checked ~ .imagecheck-figure:before {
    opacity: 1;
}

.imagecheck-image {
    max-width: 100%;
    transition: .3s opacity;
}

.imagecheck-image:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.imagecheck-image:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.imagecheck:hover .imagecheck-image,
.imagecheck-input:focus ~ .imagecheck-figure .imagecheck-image,
.imagecheck-input:checked ~ .imagecheck-figure .imagecheck-image {
    opacity: 1;
}

.imagecheck-caption {
    text-align: center;
    padding: .25rem .25rem;
    color: #9aa0ac;
    font-size: 0.875rem;
    transition: .3s color;
}

.imagecheck:hover .imagecheck-caption,
.imagecheck-input:focus ~ .imagecheck-figure .imagecheck-caption,
.imagecheck-input:checked ~ .imagecheck-figure .imagecheck-caption {
    color: #495057;
}

.page-item .page-link {
    color: var(--cta);
}
.page-item.active .page-link {
    border-color: transparent;
    background-color: var(--cta);
    color: #fff;
}

.badge-primary {
    background-color: var(--primary);
    color: #fff;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: var(--primary);
    border-color: transparent;
}

.dropdown-item {
    font-size: 14px;
}
.dropdown-item:focus,
.dropdown-item:focus:hover {
    background-color: var(--primary);
    color: #fff;
}

